<h1><b>QA group</b></h1>
<h2><font color="#B22222">ApiForTestingChatBot</font></h2>
<h3>methods:</h3>
<p><font color="#008000">GET</font> HTTP://10.82.0.151:8080/message/getformats (<i>get all fromats of message</i>)</p>
<p><font color="#008000">GET&nbsp;</font>HTTP://10.82.0.151:8080/message/getformat (<i>get current fromats of message</i>)</p>
<p><font color="#008000">POST&nbsp;</font>HTTP://10.82.0.151:8080/message/send (<i><font color="#008000">test</font>&nbsp;current fromats of message</i>)</p>
<div>
    <form method="post" name="body" target="_blank">
        <div>{</div>
        <div>&nbsp; &quot;id&quot; : 489001,</div>
        <div>&nbsp; &quot;conversation_id&quot; : 48,</div>
        <div>&nbsp; &quot;text&quot; : &quot;Подключение услуги Мобильный банк и первые два месяца использования бесплатны. Далее будет взиматься 30 или 60 рублей в месяц в зависимости от типа карты.&quot;,</div>
        <div>&nbsp; &quot;message_type&quot; : 0,</div>
        <div>&nbsp; &quot;token&quot; : &quot;e23742fe-1171-4eca-92c1-ec2cad726412&quot;</div>
        <div>}</div>
    </form>
</div>
<p>&nbsp;</p>
<p>&nbsp;</p>
